In [3]:
import pandas as pd
import numpy as np
df= pd.read_csv('C:\\Users\\Sai\\Downloads\\Udemy_Python\\datacode\\carprice.csv')
df

,car_id,price,Kilometers,hp,Brand,Sport,age,Users,gas,Metalilic,CC,Weight,QuartTax,Automatic,red,Owner_gender,door
0,3548,48750,NaN,110,6,YES,7,1,590.0,NO,1800,1170.0,100,YES,NO,M,4
1,903,16610,NaN,110,3,NO,8,1,391.0,YES,2200,1250.0,270,YES,NO,F,4
2,3903,27100,3040.0,110,2,YES,8,1,478.0,NO,1900,1186.0,120,YES,YES,M,4
3,5098,24240,4690.0,110,5,NO,8,1,NaN,NO,1800,1170.0,100,YES,NO,M,4
4,3364,13030,5820.0,110,5,NO,9,1,NaN,YES,2200,1250.0,80,NO,NO,F,4
5,2854,13940,106710.0,110,6,NO,9,1,357.0,YES,2200,1250.0,80,NO,NO,F,4
6,4187,22190,8610.0,110,4,NO,9,1,360.0,NO,1900,1186.0,160,YES,YES,F,4
7,460,51300,11040.0,192,3,NO,9,1,380.0,NO,1900,1186.0,160,YES,YES,F,4
8,3587,35050,12720.0,192,5,YES,10,2,617.0,NO,1600,1165.0,100,YES,NO,M,2
9,1880,17290,11490.0,110,2,NO,9,2,382.0,NO,1600,1165.0,100,YES,YES,M,2
10,2129,14000,12180.0,110,5,NO,9,1,323.0,NO,2200,NaN,190,NO,NO,F,4
11,3885,82540,17700.0,192,6,NO,10,1,323.0,NO,1900,1186.0,160,YES,NO,F,4
12,1341,19840,15330.0,110,1,YES,9,1,575.0,NO,2200,1195.0,210,YES,NO,M,4
13,973,13230,16380.0,192,2,NO,11,2,379.0,NO,1600,1165.0,100,NO,NO,M,2
14,2828,13000,17660.0,90,5,NO,10,1,401.0,YES,2200,1250.0,80,NO,NO,F,4
15,1928,14850,17670.0,90,5,NO,10,1,426.0,NO,1800,1170.0,120,NO,NO,M,4
16,60,12690,21020.0,90,2,YES,10,1,587.0,NO,1800,1170.0,120,NO,YES,M,4
17,5105,19420,14650.0,70,4,NO,11,1,364.0,NO,2000,1195.0,160,YES,NO,F,4
18,4652,38230,105920.0,192,1,NO,10,1,390.0,YES,2200,1250.0,270,YES,NO,F,4
19,5127,18850,16200.0,70,2,NO,9,1,374.0,NO,1800,1170.0,100,YES,NO,M,4
20,2097,14690,17770.0,110,6,YES,12,1,543.0,NO,2000,1195.0,160,NO,NO,M,4
21,1320,12500,25180.0,192,2,YES,11,1,473.0,NO,1900,NaN,120,NO,NO,M,4
22,557,12160,22290.0,192,1,YES,11,1,623.0,NO,1900,1186.0,160,NO,YES,M,4
23,1011,26080,18820.0,192,1,NO,10,1,331.0,NO,1800,1170.0,120,YES,NO,M,4
24,3796,21810,21800.0,70,5,NO,12,1,284.0,NO,1900,1186.0,120,YES,NO,F,4
25,1179,13540,25990.0,90,4,YES,13,1,647.0,NO,2200,1195.0,190,NO,NO,M,4
26,219,13460,21100.0,192,4,NO,11,1,353.0,NO,2000,1195.0,160,NO,NO,F,4
27,569,10890,24050.0,90,2,NO,11,1,332.0,NO,1900,1195.0,160,NO,NO,F,4
28,4882,19210,22490.0,192,2,YES,10,1,451.0,NO,1900,1195.0,160,YES,NO,M,4
29,4379,25370,24750.0,192,2,NO,13,1,374.0,NO,1900,1170.0,120,YES,NO,M,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5209,4289,13820,222580.0,90,4,NO,44,2,438.0,NO,2200,1195.0,190,YES,NO,M,4
5210,1173,14230,236410.0,110,5,NO,45,3,367.0,NO,1800,1165.0,100,YES,NO,F,2
5211,2566,14090,221230.0,192,1,NO,42,2,374.0,NO,2000,NaN,190,YES,NO,M,4
5212,2811,14670,181220.0,110,5,YES,45,2,544.0,NO,2000,1195.0,160,YES,YES,M,4
5213,1044,11410,228270.0,192,4,YES,45,1,502.0,NO,1800,1170.0,120,NO,NO,F,4
5214,3962,12890,192190.0,90,2,NO,44,2,333.0,NO,2000,1195.0,190,YES,NO,M,4
5215,2415,6540,248130.0,70,3,YES,45,3,522.0,NO,1600,1165.0,100,NO,NO,F,2
5216,153,13170,314020.0,90,3,YES,44,2,525.0,YES,2200,1250.0,270,YES,NO,M,4
5217,3561,5750,185810.0,110,2,NO,44,2,362.0,NO,2200,1195.0,210,NO,NO,M,4
5218,2248,13830,225330.0,70,4,NO,46,2,NaN,NO,2000,NaN,160,YES,NO,M,4
5219,1797,14290,181780.0,90,3,YES,46,3,491.0,NO,1600,1165.0,100,YES,YES,F,2
5220,1258,8700,197970.0,90,5,NO,45,1,315.0,NO,1800,1170.0,100,NO,YES,F,4
5221,1049,12170,242330.0,110,3,NO,45,1,332.0,NO,1800,1170.0,100,YES,NO,F,4
5222,334,9820,204170.0,110,6,YES,45,1,472.0,NO,1800,1170.0,120,NO,NO,M,4
5223,2659,9360,179640.0,192,4,NO,46,2,342.0,NO,2000,1195.0,160,NO,NO,M,4
5224,4646,12330,228280.0,70,4,NO,47,2,361.0,NO,1900,NaN,160,YES,NO,M,4
5225,3670,13480,199440.0,90,4,NO,46,1,372.0,NO,1900,1186.0,120,YES,NO,M,4
5226,1256,16090,170710.0,192,4,YES,45,2,600.0,YES,2200,1250.0,80,YES,NO,M,4
5227,4048,5810,183630.0,90,2,YES,46,1,555.0,NO,1800,NaN,100,NO,NO,F,4
5228,4479,16060,168250.0,192,2,NO,45,2,358.0,NO,2000,1195.0,160,YES,NO,M,4
5229,2878,12650,216880.0,90,3,NO,47,2,319.0,NO,2000,1195.0,190,YES,NO,M,4
5230,1940,8070,NaN,90,1,NO,47,2,362.0,NO,2000,1195.0,190,YES,NO,M,4
5231,75,9870,NaN,90,3,YES,47,2,575.0,NO,1900,1186.0,160,YES,NO,M,4
5232,4283,7530,234280.0,110,5,YES,46,1,569.0,NO,1800,1170.0,120,NO,YES,F,4
5233,3618,15830,216290.0,192,4,NO,50,1,394.0,NO,1800,1170.0,100,YES,NO,F,4
5234,2639,12370,201740.0,110,2,NO,48,1,369.0,NO,1900,1186.0,160,YES,NO,M,4
5235,459,6660,219720.0,192,1,NO,48,1,366.0,NO,1900,1186.0,120,NO,NO,M,4
5236,1545,12660,247010.0,110,3,NO,48,1,342.0,NO,1800,1170.0,120,YES,NO,F,4
5237,3125,11930,213740.0,70,2,NO,51,1,297.0,NO,1900,1186.0,120,YES,NO,M,4
5238,3124,5670,198110.0,192,1,NO,52,3,360.0,NO,1600,1165.0,100,NO,NO,F,2

In [10]:
df['Sport'][0:5]

0    YES
1     NO
2    YES
3     NO
4     NO
Name: Sport, dtype: object

In [12]:
df['Sport'][0:5].str.extract('(\w+)')   #Extract first word from the column

     0
0  YES
1   NO
2  YES
3   NO
4   NO

In [ ]:
#df['Sport'][0:5].str.extract('(\w+)\s(\w+)')                Will extract first two words

In [15]:
df[df['Sport']=='YES']   #filter rows

,car_id,price,Kilometers,hp,Brand,Sport,age,Users,gas,Metalilic,CC,Weight,QuartTax,Automatic,red,Owner_gender,door
0,3548,48750,NaN,110,6,YES,7,1,590.0,NO,1800,1170.0,100,YES,NO,M,4
2,3903,27100,3040.0,110,2,YES,8,1,478.0,NO,1900,1186.0,120,YES,YES,M,4
8,3587,35050,12720.0,192,5,YES,10,2,617.0,NO,1600,1165.0,100,YES,NO,M,2
12,1341,19840,15330.0,110,1,YES,9,1,575.0,NO,2200,1195.0,210,YES,NO,M,4
16,60,12690,21020.0,90,2,YES,10,1,587.0,NO,1800,1170.0,120,NO,YES,M,4
20,2097,14690,17770.0,110,6,YES,12,1,543.0,NO,2000,1195.0,160,NO,NO,M,4
21,1320,12500,25180.0,192,2,YES,11,1,473.0,NO,1900,NaN,120,NO,NO,M,4
22,557,12160,22290.0,192,1,YES,11,1,623.0,NO,1900,1186.0,160,NO,YES,M,4
25,1179,13540,25990.0,90,4,YES,13,1,647.0,NO,2200,1195.0,190,NO,NO,M,4
28,4882,19210,22490.0,192,2,YES,10,1,451.0,NO,1900,1195.0,160,YES,NO,M,4
31,540,22050,23380.0,192,2,YES,13,1,475.0,NO,1900,1186.0,160,YES,NO,M,4
32,4355,52440,23580.0,192,3,YES,13,1,516.0,YES,2200,1250.0,80,YES,YES,M,4
33,2352,59730,26090.0,192,4,YES,13,1,464.0,YES,2200,1250.0,80,YES,YES,M,4
37,3306,15830,26300.0,192,5,YES,13,1,579.0,NO,1900,1186.0,120,NO,NO,M,4
42,2702,50860,23230.0,110,6,YES,12,1,487.0,NO,1800,1170.0,120,YES,YES,M,4
43,3600,18990,24970.0,90,5,YES,12,1,514.0,YES,2200,1250.0,80,YES,NO,M,4
45,3232,14170,26270.0,90,6,YES,12,1,632.0,NO,1900,1186.0,160,NO,NO,M,4
50,4572,12940,27130.0,90,4,YES,12,1,367.0,NO,1800,1170.0,100,NO,YES,M,4
53,58,15040,22410.0,192,6,YES,11,1,600.0,NO,1800,1165.0,100,NO,NO,M,2
55,3255,9520,NaN,110,1,YES,13,1,612.0,NO,1800,1170.0,100,NO,NO,M,4
57,2872,48010,28680.0,90,6,YES,12,1,602.0,NO,2000,NaN,190,YES,NO,M,4
58,1263,13060,31830.0,110,4,YES,13,1,573.0,NO,1900,1186.0,120,NO,NO,M,4
61,486,50740,27930.0,110,5,YES,13,1,668.0,NO,1900,1170.0,120,YES,NO,M,4
63,614,14840,37580.0,192,6,YES,13,1,621.0,NO,2000,1195.0,190,NO,NO,M,4
73,3055,19640,29120.0,110,4,YES,12,2,543.0,NO,1600,NaN,100,YES,NO,M,2
74,3481,21020,32840.0,110,4,YES,15,1,488.0,NO,1900,1170.0,120,YES,NO,M,4
79,2040,13510,35940.0,192,2,YES,13,1,510.0,NO,1800,1170.0,120,NO,NO,M,4
80,2654,18340,31950.0,110,4,YES,11,1,520.0,NO,1800,1170.0,120,YES,NO,M,4
83,38,17100,39900.0,90,1,YES,12,1,549.0,NO,1900,1186.0,120,YES,NO,M,4
84,1879,12010,43420.0,90,4,YES,13,1,549.0,YES,2200,1250.0,80,NO,NO,M,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5161,4602,9620,NaN,192,6,YES,41,1,582.0,NO,1900,1186.0,120,NO,NO,M,4
5162,1975,8020,198640.0,90,4,YES,41,1,632.0,NO,1900,1186.0,120,NO,YES,M,4
5166,4019,14460,183150.0,110,4,YES,40,1,552.0,NO,1800,1170.0,100,YES,NO,F,4
5169,2867,13700,192560.0,192,1,YES,41,3,510.0,NO,1800,1165.0,100,YES,YES,F,2
5170,2543,14480,195030.0,90,6,YES,41,1,517.0,NO,1800,1170.0,100,YES,YES,F,4
5171,4495,11530,208330.0,192,5,YES,43,1,NaN,NO,1900,1170.0,120,NO,YES,M,4
5174,3745,9050,160180.0,90,3,YES,42,1,434.0,NO,1900,1186.0,120,NO,NO,M,4
5176,1533,7680,175410.0,70,4,YES,40,1,570.0,NO,1800,1170.0,100,NO,YES,F,4
5183,171,16000,200120.0,192,4,YES,41,3,526.0,NO,1600,1165.0,100,YES,NO,F,2
5184,4698,7920,210780.0,110,4,YES,42,1,558.0,NO,1900,1186.0,120,NO,NO,M,4
5186,1415,7900,212280.0,90,4,YES,40,2,529.0,NO,2000,1195.0,190,NO,NO,M,4
5189,5226,4300,NaN,90,1,YES,40,2,534.0,YES,2200,NaN,80,NO,NO,M,4
5191,3001,8860,234800.0,110,4,YES,42,1,497.0,NO,1800,1165.0,100,NO,NO,F,4
5193,4665,14010,172920.0,192,6,YES,43,1,647.0,NO,1900,1170.0,120,NO,NO,M,4
5194,353,5770,NaN,90,2,YES,42,2,514.0,NO,2000,1195.0,160,NO,YES,M,4
5198,1224,14830,233470.0,110,5,YES,43,2,565.0,NO,2000,1195.0,160,YES,NO,M,4
5201,3700,17780,222310.0,192,6,YES,44,2,529.0,NO,2000,1195.0,190,YES,NO,M,4
5203,2894,13110,168760.0,90,2,YES,43,1,549.0,NO,1800,1170.0,100,YES,NO,F,4
5204,4255,12550,223750.0,90,1,YES,44,2,620.0,NO,2200,1195.0,210,YES,NO,M,4
5205,2862,12590,211010.0,110,1,YES,42,2,534.0,NO,2000,1195.0,190,YES,NO,M,4
5212,2811,14670,181220.0,110,5,YES,45,2,544.0,NO,2000,1195.0,160,YES,YES,M,4
5213,1044,11410,228270.0,192,4,YES,45,1,502.0,NO,1800,1170.0,120,NO,NO,F,4
5215,2415,6540,248130.0,70,3,YES,45,3,522.0,NO,1600,1165.0,100,NO,NO,F,2
5216,153,13170,314020.0,90,3,YES,44,2,525.0,YES,2200,1250.0,270,YES,NO,M,4
5219,1797,14290,181780.0,90,3,YES,46,3,491.0,NO,1600,1165.0,100,YES,YES,F,2
5222,334,9820,204170.0,110,6,YES,45,1,472.0,NO,1800,1170.0,120,NO,NO,M,4
5226,1256,16090,170710.0,192,4,YES,45,2,600.0,YES,2200,1250.0,80,YES,NO,M,4
5227,4048,5810,183630.0,90,2,YES,46,1,555.0,NO,1800,NaN,100,NO,NO,F,4
5231,75,9870,NaN,90,3,YES,47,2,575.0,NO,1900,1186.0,160,YES,NO,M,4
5232,4283,7530,234280.0,110,5,YES,46,1,569.0,NO,1800,1170.0,120,NO,YES,F,4

In [20]:
df['Sport'][0:5].str.lower()  #convert to lower case
df['Sport'][0:5].str.upper()  #convert to uppercase

0    YES
1     NO
2    YES
3     NO
4     NO
Name: Sport, dtype: object

In [22]:
df['Sport'][0:5].str.len()     #to identify length of each element

0    3
1    2
2    3
3    2
4    2
Name: Sport, dtype: int64

In [24]:
#df['Sport'][0:5].str.split(' ')       #Usually splits based on whitespace

In [25]:
df['Sport'][0:5].str.replace('YES','S')

0     S
1    NO
2     S
3    NO
4    NO
Name: Sport, dtype: object

In [26]:
df.columns

Index(['car_id', 'price', 'Kilometers', 'hp', 'Brand', 'Sport', 'age', 'Users',
       'gas', 'Metalilic', 'CC', 'Weight', 'QuartTax', 'Automatic', 'red',
       'Owner_gender', 'door'],
      dtype='object')

In [30]:
#Merging
p1=df[['car_id','price']][0:2]
p2=df[['car_id','price']][0:5]
pd.concat([p1,p2])

   car_id  price
0    3548  48750
1     903  16610
0    3548  48750
1     903  16610
2    3903  27100
3    5098  24240
4    3364  13030

In [36]:
concatenated=pd.concat([p1,p2],keys=['p1','p2'])  #difference can be identified by keys
concatenated

      car_id  price
p1 0    3548  48750
   1     903  16610
p2 0    3548  48750
   1     903  16610
   2    3903  27100
   3    5098  24240
   4    3364  13030

In [ ]:
#concatenated.ix('p1')  #extracted back from concatenated data